*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.container{
    width: 80%;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
header h1{
    color: #2966af;
    font-size: 40px;
    margin: 15px 0 5px 0 ;
}
header h2{
    color: #4585af;
    font-size: 20px;
    margin-bottom: 15px;
}
header p{
    color: #a7a5a5;
    font-size: 18px;
    margin-bottom: 20px;
}
ul li {
    list-style: none;
    display: inline-block;
    width: 30%;
    margin: 22px 15px;
}
ul li a{ 
    text-decoration: none;
    color: #2966af;
    width: 100%;
    text-transform: capitalize;
    padding: 23px;
    list-style: none;
    border: 1px solid #2966af;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    transition: all .3s ease-in;
}
ul li a:hover{
    background-color: #2966af;
    color: #fff;
}
