* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background: #ffffff;
}

.container {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}


/* main section  */

.main {
    position: absolute;
    text-align: center;
    padding: 0 20%;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.main * {
    margin: 20px 0;
}

.main h1 {
    font-size: 2.5rem;
}

.main p {
    font-size: 1.3rem;
}

.main a {
    text-decoration: none;
    color: #ffffff;
    background: purple;
    padding: 10px 20px;
}


/* loader 1 */

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    animation: rotate 3s linear infinite;
}

.circle {
    width: 40px;
    height: 40px;
    background: purple;
    border-radius: 50%;
    transform: scale(0);
    animation: scale 1.5s linear infinite;
}

.circle:nth-child(2) {
    background-color: salmon;
    animation-delay: 0.75s;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    50% {
        transform: scale(1);
    }
}


/* loader 2 */

.loader2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.loader2 span {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: purple;
    animation: bounce .6s infinite alternate;
    margin: 0 3px;
}

.loader2 span:nth-child(2) {
    background: salmon;
    animation-delay: .2s;
}

.loader2 span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}